@import "../../../styles/constants";

.fieldset {
  border: 1px solid $light_1;
  border-radius: $default_radius;
  margin-bottom: $default_spacing;

  &__legend {
    font-weight: lighter;
    padding: 0 $default_spacing;

    &_focused {
      font-weight: bolder;
      font-size: 1.3rem;
    }
  }
}

.row-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  &__item {
    width: 100%;
    margin: $default_spacing;

    input {
      border-bottom: none;
      border-radius: $default_radius;
    }

  }
}

.animated-legend-enter {
  opacity: 0;
}

.animated-legend-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 800ms, transform 800ms;
}