// colors

$confirm_color: #4CAF50;

$dark_6: rgb(28,28,30);
$dark_5: rgb(44,44,46);
$dark_4: rgb(58,58,60);
$dark_3: rgb(72,72,74);
$dark_2: rgb(99,99,102);
$dark_1: rgb(142,142,147);

$light_6: rgb(242,242,247);
$light_5: rgb(229,229,234);
$light_4: rgb(209,209,214);
$light_3: rgb(199,199,204);
$light_2: rgb(174,174,178);
$light_1: rgb(142,142,147);

// sizes

$navigation_height: 64px;
$default_radius: 8px;
$default_spacing: 8px;

// effects

$shadow_down: 0 10px 6px -5px $dark_4;
